<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
<ul th:fragment="layout-menu" class="navi_menu"><!--/*
	*/--><li><a th:href="@{/}">トップ</a></li><!--/*
	*/--><li><a th:href="@{/item/list/1}">新着一覧</a></li><!--/*
	*/--><li><a th:href="@{/basket/list}">買い物かご</a></li><!--/*
	*/--><th:block th:if="${session.user != null}"><li><a th:href="@{/order/list}">注文一覧</a></li></th:block><!--/*
	*/--><li><a th:href="@{/contact/customer/contact_customer_input}">お問い合わせ</a></li>
	</ul>
</body>
</html>