<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>買い物かご | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="user shopping_basket">
		<h2 class="title">買い物かご</h2>
		<div th:if="${#lists.isEmpty(session.basketBeans)}">
			<p th:text="#{basketList.none}"></p>
		</div>
		<div th:if="${errorItem}">
			<p th:text="${errorItem} + #{basketList.itemStockNone}" class="err"></p>
		</div>
		<table class="list_table basket" th:if="!${#lists.isEmpty(session.basketBeans)}">
			<tr>
				<th>商品名</th>
				<th>数</th>
				<th>操作</th>
				<th>在庫</th>
			</tr>
			
			<tr th:each="item: ${session.basketBeans}">
				<td>
					<a th:href="@{/item/detail/{id}(id=${item.id})}" th:text="${item.name}"></a>
				</td>
				<td th:text="${item.orderNum}"></td>
				<td>
					<form th:action="@{/basket/delete}" method="post">
						<input type="hidden" name="id" th:value="${item.id}" />
						<input type="submit" value="削除" class="delete" />
					</form>
				</td>
				<td th:text="${item.stock >= 6} ? '在庫あり' : ${item.stock}"></td>
			</tr>
		</table>
		<div class="shopping_basket">
			<div class="user_info_form_area" th:if="!${#lists.isEmpty(session.basketBeans)}">
				<form th:action="@{/address/input}" method="post">
					<input type="submit" value="ご注文のお手続き" />
				</form>
				<form th:action="@{/basket/allDelete}" method="post">
					<input type="submit" value="買い物かごを空にする" class="delete" />
				</form>
			</div>
		</div>
</body>
</html>