<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>商品一覧 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="user item_list" th:object="${loginForm}">

	<h2 class="title">商品一覧</h2>
	<div class="sorted_by">
		<span th:if="${sortType == 1}">
			<a href="/shared_shop/item/list/1">新着順</a>
			<span>売れ筋順</span>
		</span> 
		<span th:if="${sortType == null}">
			<span>新着順</span>
			<a href="/shared_shop/item/list/2">売れ筋順 </a>
		</span>
	</div>
	<div th:if="${#lists.isEmpty(items)}">
		<p th:text="#{itemListAdmin.none}"></p>
	</div>
	<table class="list_table item_detail" th:if="!${#lists.isEmpty(items)}">
		<tr>
			<th>商品画像</th>
			<th>商品名</th>
			<th>価格</th>
			<th>カテゴリ</th>
		</tr>
		<!--/* 商品情報 */-->
		<tr th:each="item: ${items}">
			<td class="image">
				<span th:if="${item.image != null}">
					<img th:src="@{/img/{image}(image=${item.image})}"></img>
				</span>
				<span th:if="${item.image == null}"> 
					<img th:src="@{/img/common/no_image.jpg}"></img>
				</span>
			</td>
			<td><a th:href="@{/item/detail/{id}(id=${item.id})}"
				th:text="${item.name}"></a></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.categoryName}"></td>
		</tr>
	</table>
</body>
</html>