<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>注文内容最終確認 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="user order_check">
		<h2 class="title">注文内容最終確認</h2>
		<br />
		<div th:if="${stockShortages}">
			<ul th:each="stockShortage: ${stockShortages}">
				<li th:text="'※' + ${stockShortage} + 'は、在庫不足のため、在庫数分のみ注文できます。'" class="err"></li>
			</ul>
		</div>
		<div th:if="${stockZeros}">
			<ul th:each="stockZero: ${stockZeros}">
				<li th:text="'※' + ${stockZero} + は、在庫切れのため注文できません。" class="err"></li>
			</ul>
		</div>
		<table class="list_table item_detail">
			<tr>
				<th>商品名</th>
				<th>商品画像</th>
				<th>単価</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
			<tr th:each="orderItem: ${orderItemBeans}">
				<td th:text="${orderItem.name}"></td>
				<td th:if="${orderItem.image != null}">
					<img th:src="@{/img/{image}(image=${orderItem.image})}"></img>
				</td>
				<td th:if="${orderItem.image == null}">
					<img th:src="@{/img/common/no_image.jpg}"></img>
				</td>
				<td th:text="${orderItem.price}"></td>
				<td th:text="${orderItem.orderNum}"></td>
				<td th:text="${orderItem.subtotal}"></td>
			</tr>
			<tr>
				<td colspan="3"></td>
				<td class="total">合計</td>
				<td th:text="${total}" class="total"></td>
			</tr>
		</table>
		<div class="order_check">
			<div class="user_info_form_area">
				<table class="detail_table address">
					<caption class="table_caption">
						お届け先
					</caption>
					<tr>
						<th>郵便番号</th>
						<td th:text="${orderForm.postalCode}"></td>
					</tr>
					<tr>
						<th>住所</th>
						<td th:text="${orderForm.address}"></td>
					</tr>
					<tr>
						<th>氏名</th>
						<td th:text="${orderForm.name}"></td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td th:text="${orderForm.phoneNumber}"></td>
					</tr>
				</table>
				<table class="detail_table pay">
					<caption class="table_caption">
						お支払い方法
					</caption>
					<tr>
						<th>お支払い方法</th>
						<td th:switch="${orderForm.payMethod}">
							<span th:case="1">クレジットカード</span>
							<span th:case="2">銀行振り込み</span>
							<span th:case="3">着払い</span>
							<span th:case="4">電子マネー</span>
							<span th:case="5">コンビニ決済</span>
						</td>
					</tr>
				</table>
				<form method="post" th:action="@{/order/complete}" th:object="${orderForm}" th:if="!${#lists.isEmpty(orderItemBeans)}">
					<input type="hidden" th:field="*{postalCode}" />
					<input type="hidden" th:field="*{address}" />
					<input type="hidden" th:field="*{name}" />
					<input type="hidden" th:field="*{phoneNumber}" />
					<input type="hidden" th:field="*{payMethod}" />
					<input class="send_button" type="submit" value="ご注文の確定" />
				</form>
				<form method="post" th:action="@{/payment/input}" class="update" th:object="${orderForm}">
					<input type="hidden" th:field="*{postalCode}" />
					<input type="hidden" th:field="*{address}" />
					<input type="hidden" th:field="*{name}" />
					<input type="hidden" th:field="*{phoneNumber}" />
					<input type="hidden" th:field="*{payMethod}" />
					<input type="hidden" name="backflg" value="true" />
					<input class="back_button" type="submit" value="戻る" />
				</form>
			</div>
		</div>
</body>
</html>