<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>お届け先入力 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="user order_address_input">
		<h2 class="title">お届け先入力</h2>
		<div class="user_info_form_area">
			<form method="post" th:action="@{/payment/input}" th:object="${orderForm}">
				<ul th:if="${#fields.hasErrors('*')}" th:class="error_list">
  					<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
				<br />
				<ul class="input_list">
					<li>
						<label>
							<span class="input_title">郵便番号</span>
							<input type="text" th:field="*{postalCode}" />
						</label>
					</li>
					<li>
						<label>
							<span class="input_title">住所</span>
							<textarea rows="6" th:field="*{address}"></textarea>
						</label>
					</li>
					<li>
						<label>
							<span class="input_title">氏名</span>
							<input type="text" th:field="*{name}" />
						</label>
					</li>
					<li>
						<label>
							<span class="input_title">電話番号</span>
							<input type="text" th:field="*{phoneNumber}" />
						</label>
					</li>
				</ul>
				<input type="submit" value="次へ" class="send_button" />
				<input type="hidden" name="backflg" value="false" />
			</form>
			<form th:action="@{/basket/list}">
				<input type="submit" value="戻る" class="back_button" />
			</form>
		</div>
</body>
</html>